.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.4rem;
  background-color: rgb(26, 30, 31);
  display: flex;
  justify-content: center;
  z-index: 999;
}

.header-container {
  width: 98rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-tbc-logo {
  width: 18.2rem;
}

.main-nav-list {
  display: flex;
  gap: 5rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  color: rgb(244, 244, 244);

  font: var(--font_9);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(0, 163, 224);
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(43, 43, 43, 0.95);
}

.selected-link {
  color: rgb(0, 163, 224) !important;
}

.section-about {
  background-color: rgb(43, 43, 43);
  padding-top: 8.4rem;
  padding-bottom: 5.6rem;
}

.background-img-container {
  height: 35.2rem;
  background-image: url(../img/background-img/team-pic.webp);
  background-size: cover;

  background-position: 50% 50%;
  display: flex;
}

.container-slogan {
  width: 98rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 244, 244);
}

.slogan-name {
  font-size: 4.2rem;
}
.slogan-text {
  margin-top: 2.5rem;
  font-size: 3.4rem;
  line-height: 1.5;
}

.about-text {
  color: rgb(244, 244, 244);
  line-height: 44.8px;
  font: var(--font_5);
  letter-spacing: normal;
  margin-top: 5.6rem;
  margin-bottom: 4.3rem;
}

.section-courses {
  padding: 3.4rem 0 5.8rem 0;
  background-color: rgb(22, 22, 22);
}

.section-header {
  font: var(--font_0);
  color: #dbdbdb;
}

.courses-list {
  margin-top: 6.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  row-gap: 2.5rem;
  column-gap: 3.7rem;
}

.course-item {
  border: 1px solid rgba(85, 85, 85, 1);
  height: 41.4rem;
  position: relative;
}

.course-information {
  padding: 0 2rem 0 2.2rem;
}

.course-header {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  margin-top: 3.4rem;
}

.course-about {
  margin-top: 2.5rem;
  font: var(--font_9);
  color: rgb(244, 244, 244);
}

.course-detail-btn:link,
.course-detail-btn:visited {
  position: absolute;
  bottom: 2.1rem;
  color: #00aeef;
  font: var(--font_8);
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.course-detail-btn:hover,
.course-detail-btn:active {
  color: #2f81b0;
}

.section-project-partners {
  background-color: rgb(43, 43, 43);
  padding: 3.4rem 0 8.6rem 0;
  position: relative;
}

.left-arrow-btn {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translate(0, 50%);
}
.right-arrow-btn {
  position: absolute;
  top: 50%;
  right: 10rem;
  transform: translate(0, 50%);
}

.right-arrow-svg {
  transform: scaleX(-1);
}

.slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 10rem;
}

.slider-item {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

.center-slider-item {
  justify-content: center !important;
}

.nav-bar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slider-circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #dbdbdb !important;
}

.nav-btn {
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.section-asked-question {
  background-color: rgb(22, 22, 22);
  padding: 10.5rem 0 7.5rem 0;
}

.all-question-btn {
  justify-self: end;
}

.question-list {
  list-style: none;
  margin-top: 1rem;
  grid-column: 1/-1;
}

.question-item {
  padding: 2.7rem 0 2.7rem 0;
  border-bottom: 1px solid rgb(53, 49, 49);
  cursor: pointer;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.question {
  font: var(--font_7);
  color: rgb(244, 244, 244);
}

.asked-question-container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.asked-question-answer {
  display: none;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

.answer {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
  padding: 3.7rem 0 1.3rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.answer-steps {
  padding: 0 0 0 2.1rem;
  line-height: 2.8rem;
}

.footer {
  background-color: #1a1e1f;
  padding: 6.4rem 0 4.3rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.8rem;
  justify-content: space-between;
}

.social-network {
  justify-self: end;
  display: flex;
  gap: 1rem;
}

.copyright-text {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
}

.copyright-rules {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
  align-self: center;
}

.send-email-btn:link,
.send-email-btn:visited {
  background-color: rgb(0, 174, 243);
  border: none;
  border-radius: 6px;
  padding: 0.67rem 3.2rem;
  justify-self: end;
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.6rem;
  text-decoration: none;
}

.send-email-btn:hover,
.send-email-btn:active {
  background-color: #d5d5d5;
  color: #767474;
}

.copyright-btn {
  grid-column: 1;
  justify-self: start;
  display: inline-block;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.copyright-btn :hover {
  color: rgb(128, 128, 128);
}

.rights {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(43, 43, 43);
  position: fixed;
  top: 0;
  right: 0;
  width: 68.6rem;
  height: 100vh;
  padding: 3rem 6.05rem;
  overflow-y: scroll;
}

.rights h1 {
  font: var(--font_8);
  color: rgb(244, 244, 244);
  font-size: 2.2rem;
}

.rights p {
  font: var(--font_8);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
}

.rights h2 {
  font: var(--font_8);
  color: rgb(244, 244, 244);
  font-size: 1.6rem;
}

.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1001;
}

.close-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: rgb(244, 244, 244);
}

.close-btn {
  display: inline-block;
  border: none;
  background-color: inherit;
  text-align: end;
  cursor: pointer;
}

.btn-mobile-nav {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  top: 2rem;
  right: 2rem;
  z-index: 2000;
}

.btn-mobile-nav {
  display: none;
}

@media (max-width: 82em) {
  .left-arrow-btn {
    left: 5rem;
  }

  .right-arrow-btn {
    right: 5rem;
  }
}
@media (max-width: 75em) {
  .left-arrow-btn {
    left: 3rem;
  }

  .right-arrow-btn {
    right: 3rem;
  }
}

@media (max-width: 72em) {
  .slider-item {
    flex-direction: column;
    height: 32rem;
  }

  .left-arrow-btn {
    left: 5rem;
  }

  .right-arrow-btn {
    right: 5rem;
  }
}

@media (max-width: 66em) {
  .courses-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12.5rem;
    column-gap: 6rem;
  }

  .container,
  .header-container,
  .container-slogan {
    padding: 0 3rem;
  }
}

@media (max-width: 62.5em) {
  .courses-list {
    padding: 0 13rem;
  }
}

@media (max-width: 61.25em) {
  .course-img {
    width: 100%;
    object-fit: cover;
  }

  .courses-list {
    padding: 10rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(43, 43, 43);

    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    padding-right: 1rem;
    padding-top: 8rem;
    display: flex;
    justify-content: end;
    transition: all 1s ease-in-out;

    transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4rem;
  }

  .main-nav-link {
    font-size: 2rem !important;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .asked-question-container {
    padding: 0 2rem;
  }
}

@media (max-width: 56em) {
  .courses-list {
    padding: 4rem;
  }
}

@media (max-width: 50em) {
  .courses-list {
    padding: 3rem;
    column-gap: 4rem;
  }

  .rights {
    width: 50rem;
  }
}

@media (max-width: 43em) {
  .courses-list {
    padding: 0;
  }
}

@media (max-width: 40em) {
  .courses-list {
    grid-template-columns: 1fr;
    padding: 0 12rem;
  }
}

@media (max-width: 37.5em) {
  .courses-list {
    padding: 0 8rem;
  }

  .about-text {
    font-size: 1.9rem;
    line-height: 1.8;
  }

  .section-header {
    grid-column: 1/-1;
  }

  .all-question-btn {
    margin-top: 4rem;
    grid-column: 1/2;
    grid-row: 3;
  }

  .question {
    font-size: 2rem !important;
  }
}

@media (max-width: 31.25em) {
  .courses-list {
    padding: 0 2rem;
  }

  .left-arrow-btn {
    left: 2rem;
  }

  .right-arrow-btn {
    right: 2rem;
  }

  .rights {
    width: 90%;
  }

  .footer-container {
    row-gap: 3.3rem;
  }

  .footer-tbc-logo {
    grid-column: 1/-1;
    width: 15rem;
  }

  .send-email-btn {
    grid-column: 1;
    grid-row: 2;
    justify-self: start !important;
  }

  .social-network {
    justify-self: center;
  }

  .copyright-btn {
    grid-row: 3;
  }
  .copyright-text {
    grid-row: 4;
    grid-column: 1/-1;
  }

  .container,
  .header-container,
  .container-slogan {
    padding: 0 2rem;
  }

  .answer {
    font-size: 1.7rem;
  }
}

@media (max-width: 28em) {
  .courses-list {
    padding: 0 1rem;
  }

  .slogan-text {
    font-size: 3.2rem;
  }
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}
