.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.4rem;
  background-color: rgb(26, 30, 31);
  display: flex;
  justify-content: center;

  /* border-bottom: 6px solid rgba(43, 43, 43, 0.6); */
}

.header-container {
  width: 98rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-tbc-logo {
  width: 18.2rem;
}

.main-nav-list {
  display: flex;
  gap: 5rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  color: rgb(244, 244, 244);

  font: var(--font_9);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(0, 163, 224);
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(43, 43, 43, 0.95);
}

.selected-link {
  color: rgb(0, 163, 224) !important;
}

.section-about {
  background-color: rgb(43, 43, 43);
  padding-top: 8.4rem;
  padding-bottom: 5.6rem;
}

.background-img-container {
  height: 35.2rem;
  background-image: url(../img/background-img/team-pic.webp);
  background-size: cover;

  background-position: 50% 50%;
  display: flex;
}

.container-slogan {
  width: 98rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 244, 244);
}

.slogan-name {
  font-size: 4.2rem;
}
.slogan-text {
  margin-top: 2.5rem;
  font-size: 3.4rem;
}

.about-text {
  color: rgb(244, 244, 244);
  line-height: 44.8px;
  font: var(--font_5);
  letter-spacing: normal;
  margin-top: 5.6rem;
  margin-bottom: 4.3rem;
}

.section-courses {
  padding: 3.4rem 0 5.8rem 0;
  background-color: rgb(22, 22, 22);
}

.section-header {
  font: var(--font_0);
  color: #dbdbdb;
}

.courses-list {
  margin-top: 6.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  row-gap: 2.5rem;
  column-gap: 3.7rem;
}

.course-item {
  border: 1px solid rgba(85, 85, 85, 1);
  height: 41.4rem;
  position: relative;
}

.course-information {
  padding: 0 2rem 0 2.2rem;
}

.course-header {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  margin-top: 3.4rem;
}

.course-about {
  margin-top: 2.5rem;
  font: var(--font_9);
  color: rgb(244, 244, 244);
}

.course-detail-btn:link,
.course-detail-btn:visited {
  position: absolute;
  bottom: 2.1rem;
  color: #00aeef;
  font: var(--font_8);
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.course-detail-btn:hover,
.course-detail-btn:active {
  color: #2f81b0;
}

.section-project-partners {
  background-color: rgb(43, 43, 43);
  padding: 3.4rem 0 8.6rem 0;
  position: relative;
}

.left-arrow-btn {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translate(0, 50%);
}
.right-arrow-btn {
  position: absolute;
  top: 50%;
  right: 10rem;
  transform: translate(0, 50%);
}

.right-arrow-svg {
  transform: scaleX(-1);
}

.slider-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-top: 10rem;
}

.slider-item {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

.center-slider-item {
  justify-content: center !important;
}

.nav-bar {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slider-circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #dbdbdb !important;
}

.nav-btn {
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.section-asked-question {
  background-color: rgb(22, 22, 22);
  padding: 10.5rem 0 7.5rem 0;
}

.question-header-container {
  display: flex;
  justify-content: space-between;
}

.question-list {
  list-style: none;
  margin-top: 1rem;
}

.question-item {
  padding: 2.7rem 0 2.7rem 0;
  border-bottom: 1px solid rgb(53, 49, 49);
  cursor: pointer;
}

.question-container {
  display: flex;
  justify-content: space-between;
}

.question {
  font: var(--font_7);
  color: rgb(244, 244, 244);
}

.asked-question-container {
  max-width: 90rem;
  margin: 0 auto;
}

.asked-question-answer {
  display: none;
}

.visible {
  display: block;
}

.answer {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
  padding: 3.7rem 0 1.3rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.answer-steps {
  padding: 0 0 0 2.1rem;
  line-height: 2.8rem;
}

.footer {
  background-color: #1a1e1f;
  padding: 6.4rem 0 4.3rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.8rem;
  justify-content: space-between;
}

.social-network {
  justify-self: end;
  display: flex;
  gap: 1rem;
}

.copyright-text {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
}

.copyright-rules {
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.4rem;
  grid-column: 1;
  align-self: center;
}

.send-email-btn:link,
.send-email-btn:visited {
  background-color: rgb(0, 174, 243);
  border: none;
  border-radius: 6px;
  padding: 0.67rem 3.2rem;
  justify-self: end;
  font: var(--font_7);
  color: rgb(244, 244, 244);
  font-size: 1.6rem;
  text-decoration: none;
}

.send-email-btn:hover,
.send-email-btn:active {
  background-color: #d5d5d5;
  color: #767474;
}
